<%- include ('../partials/header.ejs') %>
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yoga Index Page</title>
    <link rel="stylesheet" href="/css/index.css">

  </head>

  <body>
    <!-- <a href="/yoga-guide/new">Create a New Boat</a> -->
    <h1>YOGA GUIDE</h1>
    <br>
    <br>



    </ul>
  </body>

  </html>

  <%- include ('../partials/footer.ejs') %>