
  <!DOCTYPE html>
  <html lang="en">
    <%- include ('../partials/homepage-head.ejs') %>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yoga Index Page</title>
    <link rel="stylesheet" href="/css/index.css">

  </head>

  <body>
    <!-- <a href="/yoga-guide/new">Create a New Boat</a> -->
    <br>

    <p>
      Yoga is a physical, mental, and spiritual practice that originated in ancient India. 
      
      <br>
      <br>
      It involves a series of postures, breathing techniques, and meditation to promote physical health, mental well-being, and inner peace. Regular practice of yoga has been shown to reduce stress, improve flexibility and balance, enhance strength and stamina, and boost overall health and happiness.
      <br>
      <br>
      Modern day yoga has evolved to include various styles and approaches that cater to different preferences and goals, ranging from gentle restorative yoga to more dynamic practices like power yoga and hot yoga.
    </p>

    <button class="button" type="button"><a href="/yoga-guide/">SEE ALL YOGA TYPES HERE</a></button>

<br>
<br>

    </ul>
  </body>

  </html>

  <%- include ('../partials/footer.ejs') %>