
  <!DOCTYPE html>
  <html lang="en">
    <%- include ('../partials/homepage-head.ejs') %>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yoga Index Page</title>
    <link rel="stylesheet" href="/css/index.css">

  </head>

  <body>
    <!-- <a href="/yoga-guide/new">Create a New Boat</a> -->
    <br>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam voluptatibus dicta quasi nulla neque doloribus
      repudiandae, recusandae autem quas eaque? Tempore suscipit tenetur quae sapiente, hic delectus architecto iste
      rerum?
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem exercitationem aliquid cupiditate
      perspiciatis dolore optio aspernatur quidem corporis, voluptatibus, repellat tempora, ipsum provident repudiandae
      esse doloremque expedita atque illum! Minus.
    </p>

    <P>See the different yoga types <a href="/yoga-guide/">here</a> </P>


    </ul>
  </body>

  </html>

  <%- include ('../partials/footer.ejs') %>