<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/header-types.ejs') %>
  

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Intermediate Yoga</title>
  <link rel="stylesheet" href="/css/types.css">

</head>

<body>
  <h1 class="h12">Intermediate Yoga Poses Below:</h1>


  <% for(let i=0; i < yogas.length; i++) { %>
    <li>
    <%  if(yogas[i].difficulty === "intermediate") { %>
      <a href="/yoga-guide/<%=yogas[i].id; %>">
        <div class="title">
          <%=yogas[i].name; %>
        </div>
      </a>
   <% } %>

    </li>
    <% } %>

</body>
<%- include ('../partials/footer.ejs') %>

</html>