<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/newpose-header.ejs') %>

<head>
  <meta charset="UTF-8">
  <title>New Pose</title>
  <link rel="stylesheet" href="/css/new.css">
</head>

<body>
  <br>
  <br>

  <form action="/yoga-guide" method="POST">
    <input type="text" name="name" placeholder="Name" />
    <br>
    <br>
    <input type="text" name="description" placeholder="Description" />
    <br>
    <br>
    <input type="text" name="image" placeholder="Image" />
    <br>
    <br>
    <input type="text" name="difficulty" placeholder="Difficulty (Beginner, Intermediate or Advanced)" />
    <br>
    <br>
    <input type="text" name="tip" placeholder="Tips" />
    <br>
    <br>
    <input type="text" name="targets" placeholder="Body Targets" />
    <br>
    <br>
    <input type="text" name="modifications" placeholder="Modifications" />
    <br>
    <br>
    <input class="submit" type="submit" name="" value="ADD YOGA POSE" />
  </form>

  <br>
  <br>
  <br>

</body>

<%- include ('../partials/footer.ejs') %>

</html>