<!DOCTYPE html>
<html>
<%- include ('../partials/types-header.ejs') %>

  <head>
    <meta charset="utf-8">
    <title>Yoga Types Page</title>
    <link rel="stylesheet" href="/css/types.css">
  </head>

  <body>
    <ul class="container">
      <li>
        <p class="b-y-title"> <a href="/yoga-guide/beginner">Beginner Yoga</a></p>
        <p class="b-y-info"></p>
      </li>
      <li>
        <p class="i-y-title"> <a href="/yoga-guide/intermediate">Intermediate Yoga</a></p>
        <p class="i-y-info"></p>
      </li>
      <li>
        <p class="a-y-title"></p> <a href="/yoga-guide/advanced">Advanced Yoga</a></p>
        <p class="a-y-info"></p>
      </li>





  </body>

  <%- include ('../partials/footer.ejs') %>

</html>