<!DOCTYPE html>
<html>
<%- include ('../partials/header-types.ejs') %>

  <head>
    <meta charset="utf-8">
    <title>Yoga Types Page</title>
    <!-- <link rel="stylesheet" href="/css/types.css"> -->
  </head>

  <body>
    <ul class="container">
      <li>
        <p class="b-y-title"> <a href="/yoga-guide/beginner/">Beginner Yoga</a></p>
        <p class="b-y-info"> info on beginner yoga</p>
      </li>
      <li>
        <p class="i-y-title"> <a href="/yoga-guide/intermediate/">Intermediate Yoga</a></p>
        <p class="i-y-info"> info on intermediate yoga</p>
      </li>
      <li>
        <p class="a-y-title"></p> <a href="/yoga-guide/advanced/">Advanced Yoga</a></p>
        <p class="a-y-info">info on advanced yoga</p>
      </li>





  </body>

  <%- include ('../partials/footer.ejs') %>

</html>