<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Edit Page</title>
  <link rel="stylesheet" href="/css/types.css">
</head>

<body>
  <h1>Yoga Types</h1>

  <ul class="container">


    <h1>Different Types of Yoga</h1>
    <ul class="container">

      <p class="b-y-title"> Beginner Yoga</p>
      <p class="b-y-info"> Beginner Yoga</p>

      <p> Intermediate Yoga</p>

      <p> Hard Yoga</p>






</body>

</html>