@font-face {
  font-family: calm;
  src: url(../fonts/SignikaNegative-VariableFont_wght.ttf);
}

.edit {
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 20px;
  background-color: #d6aab9; 
  border: none;
  color: white;
  padding:5px 10px;
  text-align: center;
  display: inline-block;
  font-size: 17px;
	/* margin: auto;
  position: absolute; */
  /* top: 0; */
  /* left: 0; */
  /* bottom: 0; */
 	/* right: 0; */
  height: 30px;
	width: 180px;
  font-weight: bold;
  font-family: calm;

}

.edit:hover{
  background-color: #d5c0c7;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}


body {
  background-color: #afdade;
}

.content {
  color:rgb(64, 63, 63);
  font-size: 10px
}

input {
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 20px;
  background-color: #322f2f; 
  border: none;
  color: white;
  /* padding:5px 10px; */
  text-align: center;
  display: inline-block;
  font-size: 12px;
	/* margin: auto;
  position: absolute; */
  /* top: 0; */
  /* left: 0; */
  /* bottom: 0; */
 	/* right: 0; */
  height: 25px;
	width: 110px;
  font-weight: bold;
  font-family: calm;

}

img {
  width: 400px;
  height: 400px
}

